.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s, box-shadow 1s;
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-7deg);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(7deg);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.citacao-bio::before {
    content: '"';
    position: absolute;
    font-size: 10em;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}

.container > p:first-letter {
    color: black;
    font-size: 2rem;
    text-shadow: 1px 1px #000;
}

table {
    margin: 1em 0;
    border-collapse: separate;
    border-spacing: .25em;
}

table th,
table td{
    padding: 1em;
}

thead th{
    background-color: #3C1D3D;
    color: white;
    font-weight: bold;
}


tbody th  {
    background-color:#851944;
    color: white;
    font-weight: bold;
}

tbody td {
    background-color: #EEE;
}

tbody [colspan] {
    text-align: center;
    font-style: italic;
    vertical-align: middle;
}