

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portfolio li:first-child{
    flex-basis: 100%;
}

.portfolio li {
    display: flex;
    border: 8px solid black;
    background-color: #FAFFFC;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    flex: 1 1 45%;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}